.bug {
    background-color: #379A4B !important;
    color: #fff !important;
}

.dark {
    background-color: #5C5879 !important;
    color: #fff !important;
}

.dragon {
    background-color: #61CADB !important;
    color: #fff !important;
}

.electric {
    background-color: #FDFA70 !important;
    color: #fff !important;
}

.fairy {
    background-color: #EA1369 !important;
    color: #fff !important;
}

.fighting {
    background-color: #EF6236 !important;
    color: #fff !important;
}

.fire {
    background-color: #FF4A58 !important;
    color: #fff !important;
}

.flying {
    background-color: #93B2C7 !important;
    color: #fff !important;
}

.ghost {
    background-color: #8E6890 !important;
    color: #fff !important;
}

.grass {
    background-color: #27CB4D !important;
    color: #fff !important;
}

.ground {
    background-color: #6C481C !important;
    color: #fff !important;
}

.ice {
    background-color: #D8F0FA !important;
    color: #fff !important;
}

.normal {
    background-color: #CA98A7 !important;
    color: #fff !important;
}

.poison {
    background-color: #9B69D9 !important;
    color: #fff !important;
}

.psychic {
    background-color: #F91B91 !important;
    color: #fff !important;
}

.rock {
    background-color: #88401D !important;
    color: #fff !important;
}

.steel {
    background-color: #44BD94 !important;
    color: #fff !important;
}

.water {
    background-color: #85A9FC !important;
    color: #fff !important; 
}